

/* -- DEFAULTS FONTS AND TEXT SETUP -- */

@font-face {
    font-family: 'dintext_proregular';
    src: url('../fonts/pfdintextpro-regular-webfont.eot');
    src: url('../fonts/pfdintextpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextpro-regular-webfont.svg#pf_dintext_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dintext_promedium';
    src: url('../fonts/pfdintextpro-medium-webfont.eot');
    src: url('../fonts/pfdintextpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextpro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextpro-medium-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextpro-medium-webfont.svg#pf_dintext_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dintext_probold';
    src: url('../fonts/pfdintextpro-bold-webfont.eot');
    src: url('../fonts/pfdintextpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextpro-bold-webfont.woff') format('woff'),
         url('../fonts/pfdintextpro-bold-webfont.ttf') format('truetype'),
         url('../fonts/pfdintextpro-bold-webfont.svg#pf_dintext_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { background: #FFF; font-family: 'dintext_proregular', Verdana, Arial, sans-serif; }

p { margin:5px 0; }
p.bold { font-family: 'dintext_probold'; }
p.small { font-size:8px; }

p, li, a {
    font-size: 14px;
    line-height: 14px;
    color: #666666;
    font-family: 'dintext_proregular';
}
.photo-thumbs p { color:#999999; }
a, a:visited {
    color:#009fdf;
}
a:hover, a:active {
    color:#00b6ff;
}
h2 {
    font-size: 38px;
    line-height: 38px;
    color: #000000;
    font-family: 'dintext_probold';
    font-weight: normal;
    text-transform:uppercase;
}

h3 {
    font-size: 26px;
    line-height:26px;
    color: #000000;
    font-family: 'dintext_promedium';
}

h4 {
    margin:5px 0;
    font-size: 20px;
    line-height:20px;
    color: #FFFFFF;
    font-family: 'dintext_probold';
}
h4.blue { color:#00aeef; }
h4.gray { color:#808285; }
h4.black { color:#000000; }

.clear { clear:both; }
.float-left { float:left; }
.black-box {
    background:#000;
    margin:-3px 0 0 0;
    padding:5px 10px;
}
.black-box a,
.black-box a:visited {
    font-family: 'dintext_probold';
    font-size: 15px;
    line-height: 30px;
    margin:0;
    color:#FFF;
    text-decoration:none;
}

a.blue-box,
a.blue-box:visited {
    background: #00a9f4;
    display:inline-block;
    height:26px;
    line-height:28px;
    margin:0;
    padding:0 10px;
    vertical-align:middle;
    font-family: 'dintext_promedium';
    font-size: 12px;
    text-decoration:none;
    color: #FFF;
    text-transform:uppercase;
}
a.blue-box:hover,
a.blue-box:active {
    background:#8bd8fa;
}

span.white-arrow {
    background:url('../images/white-arrow.png') 0 0 no-repeat;
    display:inline-block;
    width:17px;
    height:26px;
    position:relative;
    vertical-align:middle;
    margin-left:30px;
}

.page-divider {
    height:50px;
    background:url('../images/page-divider.png') 0 0 repeat-x;
    display:block;
    width:655px;
}

.horizontal-line {
    background:url('../images/horizontal-line.png') 0 0 no-repeat;
}

.page-wrapper {
    width:650px;
    background: #FFF;
    margin:0 auto;
}

.section {
    width:650px;
    margin:0;
    padding:50px 0 0 0;
}

.gradient {
    background:url('../images/section-gradient.png') 0 0 repeat-x;
}
.small-gradient {
    background:url('../images/small-gradient.png') 0 0 repeat-x;
}
.tiny-gradient {
    background:url('../images/tiny-gradient.png') 0 0 repeat-x;
}

.section .full-width {
    width:600px;
    margin:0 25px;
    padding:20px 0;
    float:left;
}

.section .half-width {
    float:left;
    width:290px;
    margin:0 10px 0 0;
}
.full-width.photo-thumbs {
    width:592px;
}

.photo-thumbnail {
    float:left;
    width:148px;
    height:112px;
}
.photo-thumbnail .overlay-text {
    opacity:0;
}
.photo-thumbnail:hover .overlay-text {
    opacity:1;
    color:rgba(255,255,255,.85);
}

.photo-thumbnail a,
.photo-thumbnail a:visited {
    text-decoration:none;
    display:block;
}
.photo-thumbnail a:hover,
.photo-thumbnail a:active {
    background:#000;
}

.large-video { margin:0 0 -3px 0; }

p.small-blurb { width:360px; }

.navigation {
    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(top,  #333333 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #333333 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #333333 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #333333 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #333333 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    height:50px;
    width: 650px;
}

.navigation ul {
    margin:0;
    padding:0;
}
.navigation ul li {
    height:50px;
    display:block;
    float:left;
}
.navigation ul span.spacer {
    background:url('../images/nav-spacer.png') 0 0 no-repeat;
    height: 50px;
    width: 1px;
    display:block;
    float:left;
    margin:0 7px;
}
.navigation ul li a,
.navigation ul li a:visited {
    font-size: 16px;
    font-family: 'dintext_proregular';
    text-transform:uppercase;
    text-decoration:none;
    height:50px;
    line-height:50px;
    display:block;
    margin:0;
    float:left;
    color:#cccccc;
}
.navigation ul li a:hover,
.navigation ul li a:active {
    color:#FFF;
}

.navigation ul li a.navbar-brand,
.navigation ul li a.navbar-brand:visited,
.navigation ul li a.navbar-brand:hover,
.navigation ul li a.navbar-brand:active {
    text-indent:-9999px;
    overflow:hidden;
    background: url('../images/gopro-logo.png') 0 0 no-repeat;
    width:110px;
    height:50px;
    display:block;
    float:left;
    margin:0 0 0 10px;
}

.carousel.section {
    width:650px;
    clear:both;
    height:280px;
    margin:0 0 20px 0;
    background:url('../images/carousel-bg.jpg') 0 0 repeat-x;
}

.carousel-slide {
    padding:0 25px 0 50px;
    float:left;
    margin:0 0 50px 0;
}

.carousel .carousel-left {
    float:left;
    width: 255px;
}

.carousel .carousel-right {
    float:right;
}

.product-holder {
    padding:40px 0;
    background:url('../images/horizontal-line.png') 0 0 no-repeat;
}

.product-holder .image-left {
    float:left;
    width:250px;
    margin-left: 50px;
}
.product-holder .image-right {
    float:right;
    width:250px;
    margin-right: 50px;
}
.product-holder .text-left {
    float:left;
    width:280px;
    margin-left: 20px;
}
.product-holder .text-right {
    float:right;
    width: 280px;
    margin-right: 20px;
}

.full-width.product-holders {
    margin:15px 0 15px 60px;
}

.product-thumbnails {
    float:left;
    display:block;
    width:115px;
    margin:20px 10px;
}
.product-thumbnails .thumb-border {
    border:1px solid #CECECE;
    margin-top: -3px;
}
.product-thumbnails p.product-name {
    color:#00aaf1;
    font-size:12px;
    font-family: 'dintext_probold';
}
.product-thumbnails p.product-price,
.product-thumbnails .gray {
    color:#666666;
    font-size:12px;
    font-family: 'dintext_probold';
}
.full-width .text-right {
    float:right;
    width: 240px;
}

.section.software h4 {
    margin:5px 0 15px 0;
    font-family: 'dintext_proregular';
    font-size:18px;
}
.section.software p {
    color:#808285;
}

.section.software .text-left {
    float:left;
    width:300px;
}
.section.software .text-right {
    float:right;
}
.section.software ul {
    margin:0 0 0 10px;
}
.section.software ul li {
    list-style:disc;
    color:#808285;
    font-size:12px;
    font-family: 'dintext_proregular';
}